* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #693a25;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 80%;
    height: 80vh;
    display: flex;
    border-radius: 10px;
  }

  .formImage {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2edeb;
    padding: 1rem;
  }

  .formImage img {
    width: 40rem;
  }

  .form {
    width: 50%;
	display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-color: #eee5e0;
    padding: 3rem;
  }
  
  .form input, .form textarea, .form button {
  margin: 0.5rem 0; 
}

  .title {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: 'Medula One', sans-serif;
    color: #592D1D;
  }

  .title h1 {
    font-size: 60px;
  } 

  .loginButton button {
    width: 100%;
	  justify-content: center;
	  align-items: center;
    border: 1px solid black;
    background-color: #BF9673;
    color: #592D1D;
    padding: 1px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'labor-union', sans-serif;
    margin-top: 15px;
    font-weight: bold;
  }

  .confirmButton button {
    width: 100%;
    border: 1px solid black;
	  margin-bottom: 30px;
    background-color: #BF9673;
    color: #592D1D;
    padding: 1px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'labor-union', sans-serif;
    cursor: pointer;
    font-weight: bold;
  }

  .confirmButton a {
    text-decoration: none;
    font-weight: 10px;
    color:#592D1D;
  }

  .loginButton a {
    text-decoration: none;
    font-weight: 10px;
    color: #592D1D
  }

  .confirmButton button:hover {
    background-color: #f2edeb;
    color: #592D1D;
    transition: 0.5s;
  }

  .loginButton button:hover {
    background-color: #f2edeb;
    color: #592D1D;
    transition: 0.5s;
  }

  .inputGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Bree Serif', sans-serif;
  }

  .inputBox {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }

  .inputGroup label {
    font-size: 20px;
    color: #592D1D;
    font-family: 'Bree Serif', sans-serif;
  }

  .inputBox input {
    margin: 1px;
    padding: 1px;
    border: 1px solid '#090d0a';
    border-radius: 5px;
    box-shadow: 1px 1px 5px '#090d0a';
    height: 35px;
  }

  .inputBox ::placeholder {
    font-family: 'Bree Serif', sans-serif;
    font-size: 15px;
    color: '#090d0a';
  }

  .inputBox input:hover {
    background-color: #f2edeb;
  }

  .inputBox input:focus-visible {
    border: 1px solid '#090d0a';
    border-radius: 3px;
    outline: none;
  }

  .buttonContainer {
    margin-top: 30px;
  }

  @media screen and (max-width: 1330px) {
    .formImage {
      display: none;
    }

    .container {
      width: 50%;
    }

    .form {
      width: 100%;
    }
  }

@media screen and (max-width: 1064px) {
    .container {
        height: auto;
        width: 90%; 
    }

    .inputGroup {
        flex-direction: column; 
        padding: 2rem; 
    }
	
	.title a{
	margin-top: 60px;
	font-size: 2rem;
	}
}


@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column; 
        height: auto; 
    }

    .formImage {
        width: 100%; 
        display: none; 
    }

    .form {
        width: 100%; 
        padding: 2rem; 
    }

    .title h1 {
        font-size: 2rem; 
    }
}


@media screen and (max-width: 768px) {
  .container{
      height: 1rem;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

    .inputGroup label,
    .inputBox input {
        font-size: 1rem; 
        margin-top: 5px; 
    }

    .registerButton a,
    .confirmButton button {
        font-size: 1rem; 
        padding: 0.75rem; 
    }

    .title h1 {
        font-size: 1.5rem;
    }

    .forgotPasswordLink a {
        font-size: 1rem;
        margin-bottom: 1rem ;
    }

    .inputGroup {
        margin-bottom: 3rem;
    }

}